@import url("https://fonts.googleapis.com/css2?family=Jost&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: century gothic;
  font-family: sans-serif;
  font-family: "Jost", sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1590311858776-f7ce6e8c455b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
}

.logo {
  cursor: pointer;
}

nav {
  margin-top: 25px;
}

nav hr {
  width: 100%;
  border: 1px solid #fff;
  margin: center;
}

.navbarUp {
  width: 85%;
  height: 15%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 15px;
}

.navbarUp button {
  color: #fbfbfb;
  padding: 10px 25px;
  background: transparent;
  border: 1px solid #fff;
  border-radius: 20px;
  outline: none;
  cursor: pointer;
}

.navbarUp button:hover {
  background-color: #fff;
  color: teal;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  border: 2rem;
}

.title {
  border: 1px solid #fff;
  padding: 5px 10px;
  color: #fff;
}

.title h1 {
  font-size: medium;
}

.title h2 {
  font-size: small;
  font-weight: lighter;
}

.navbarDown {
  width: 70%;
  height: 15%;
  margin: auto;
  margin-top: 10px;
  color: #fff;
  text-align: center;
}

.navbarDown ul {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.navbarDown li {
  font-size: small;
  margin-left: 5px;
  margin-right: 5px;
  text-decoration: none;
  color: #fff;
  padding: 5px 20px;
  border: 1px solid #fff transparent;
}

.navbarDown a {
  text-decoration: none;
  color: #fff;
  border: 5px solid #fff transparent;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.navbarDown a:hover {
  background-color: #fff;
  color: rgba(10, 57, 73, 0.757);
  padding: 0.5rem 1rem;
  text-decoration: underline;
  font-weight: bold;
}

.navbarDown .line {
  color: white;
}

main .BodyTitle {
  color: #fff;
  display: inline-block;
  position: absolute;
  top: 45%;
  left: 25%;
  right: 25%;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-indent: 1px;
}

main .BodyTitle h1 {
  font-size: 70px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .BodyTitle #btn {
  background-color: #fff;
  color: teal;
}

main .BodyTitle #btn a {
  text-decoration: none;
  color: #fff;
}

main .BodyTitle #btn:hover {
  background-color: teal;
  color: #fff;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

main .BodyTitle .subBodyTitle {
  font-size: 15px;
  letter-spacing: 3px;
  margin-bottom: 3%;
}

main .BodyTitle #btn {
  color: #fbfbfb;
  padding: 10px 25px;
  background: transparent;
  border: 1px solid #fff;
  border-radius: 20px;
  outline: none;
  cursor: pointer;
}

footer {
  font-size: 10px;
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: absolute;
  color: #fff;
  top: 93%;
  left: 45%;
}
/*# sourceMappingURL=style.css.map */